/**
 * Dark theme variables
 */

:root {
  --base-color: #93a1a1;
  --border: dashed 1px rgba(147, 161, 161, 0.9);
  --selection-background: rgba(147, 161, 161, 0.99);
  --selection-text: #000;
  --background-color: #002a35;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #839496;
  --code-color-2: #eee8d5;
  --code-color-3: #dc322f;
  --code-color-4: #d33682;
  --code-color-5: #6c71c4;
  --code-color-6: #859900;
  --code-color-7: #b58900;
  --code-color-8: #000080;
  --code-color-9: #268bd2;
  --code-color-10: #657b83;
  --code-color-11: #586e75;
  --code-color-12: #6c71c4;
  --code-color-13: #2aa198;
  --code-color-14: #2aa198;
  --code-color-15: #cb4b16;
  --code-color-16: #268bd2;
  --code-color-17: #dc322f;
  --code-color-18: #93a1a1;
}
